/* Slideshow container */
div.slider-caption {
  display: none;
}

#familySlideshowWide {
  max-width: 600px;
  margin   : auto;
}

#familySlideshowWide img {
  position : relative;
  margin   : auto;
  max-height: 301px;
  width: 100%;
  object-fit: contain;
}
